<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LEKI</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
  <div class="container" style="padding-top: 10em;">
    <form class="row" action="/" method="get">
      <div class="col s10">
        <input placeholder="Search..." id="word" name="word" type="text" class="validate" autofocus>
      </div>
      <div class="col s2">
        <button class="btn waves-effect waves-light" type="submit">
          <i class="material-icons">search</i>
        </button>
      </div>
    </form>
    <div class="row center">
      <h1>{{word}}</h1>
    </div>
    {% for image in images %}
      {% if loop.index % 4 == 1 %}
      <div class="row">
      {% endif %}
        <div class="col s3">
          <a href="{{image}}" target="_blank"><img src="{{image}}" class="responsive-img"/></a>
        </div>
      {% if loop.index % 4 == 0 %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</body>
</html>
